<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<TITLE>SpringDemo</TITLE>
		<META name="description" content="THORNBIRD.COM"/>
		
		<!-- 引入css -->
		<!-- <link th:href="@{http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" > -->
		<link th:href="${'/css/bootstrap.min.css'}" rel="stylesheet" />
		<link th:href="${'/font-awesome/4.5.0/css/font-awesome.min.css'}" rel="stylesheet" />
		<link th:href="${'/css/fonts.googleapis.com.css'}" rel="stylesheet" />
		<link th:href="${'/css/ace.min.css'}" rel="stylesheet" />
		<link th:href="${'/css/ace-rtl.min.css'}" rel="stylesheet" />
		<!-- 引入js -->
	    <!-- 引入外部的 js <script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script>  
	    <script th:src="@{http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script> -->
	    <script th:src="${'/js/jquery-2.1.4.min.js'}" type="text/javascript"></script>
	    <script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}" type="text/javascript"></script>
	</head>
	
	<!-- <body style="background: url(../../image/login_bgx.gif);">
		<div id="wrapper">
			body
			<div class='mainBody'>
				<div th:if="${template}">
					<div th:replace="${template}"></div>
			    </div>
			</div>
		</div>
	</body> -->
	
	<body class="login-layout">
		<!-- body -->
		<div th:if="${template}">
			<div th:replace="${template}"></div>
		</div>
	</body>
</html>